@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --background: #242424;
  --foreground: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-gray-50);;
    --foreground: #213547;
  }
}

@layer base {
  body {
    @apply min-h-screen min-w-screen bg-background text-foreground overflow-x-hidden;
  }
  input,
  textarea {
    @apply rounded-md border border-foreground shadow-sm p-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
  }
  button {
    cursor: pointer;
  }
}
